html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}


/* Slideshow */

.slideshow {
  margin: 0 auto;
  overflow: hidden;
  max-width: 1170px;
  position: relative;
}

.slideshowSlider {
  white-space: nowrap;
  transition: ease 1000ms;
}

.slide {
  display: inline-block;
  width: 100%;
  border-radius: 40px;
}

/* Buttons */

.slideshowDots {
  position: absolute;
  bottom: 20px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.slideshowDot {
  display: inline-block;
  height: 15px;
  width: 15px;
  border-radius: 50%;

  cursor: pointer;
  margin: 15px 7px 0px;

  background-color: rgba(255, 255, 255, 0.5);
}

.slideshowDot.active {
  background-color: #fcfafd;
}
.btn-slick-arrow-left{
left: 10px;
}
.btn-slick-arrow-right{
  right: 10px;
  }

.btn-slick-arrow{
  width: 30px;
  height: 52px;
  background-color: #fff;
  font-size: 30px;
  text-align: center;
  line-height: 52px;
  position: absolute;
  top: 50%;
  opacity: 0.5;
  z-index: 10;
  border-radius: 5px;
  cursor: pointer;
}
.slideshow:hover .btn-slick-arrow{
  opacity: 1 !important;
}
.home-banner-primary-item{
  //width: 275px;
  height: 150px;
  background-color: rgb(232, 232, 232);
  border-radius: 20px;
  overflow: hidden;
}
.home_banner_primary_container{
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  height: 150px;
  width: 100%;
  margin-top: 16px;
  margin-bottom: 15px;
}

.owl-theme .item-slide{
  width: 1200px;
}

.owl-carousel .slick-dots {
  margin: 0px;
  padding: 0px;
  position: absolute;
  bottom: 10px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  width: 100%;
}

.owl-carousel .owl-nav button {
  background: rgba(255,255,255,.9) !important;
    height: 60px;
    width: 30px;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}


.owl-carousel .owl-nav .owl-prev {
  box-shadow: -6px 0 4px rgb(0 0 0 / 5%), -4px 0 4px rgb(0 0 0 / 9%);
  border-radius: 4px 0 0 4px;
  left: 0;
}


.owl-carousel .owl-nav .owl-next {
  box-shadow: 6px 0 4px rgb(0 0 0 / 5%), 4px 0 4px rgb(0 0 0 / 9%);
    border-radius: 0 4px 4px 0;
    right:  0;
}

.owl-carousel .owl-stage-outer .owl-stage .owl-item .product-item{
  width: auto;
}

.owl-carousel .owl-nav-product-next-prev .owl-prev{
  left: 15px !important;
}

.owl-carousel .owl-nav-product-next-prev .owl-next{
  right: 15px !important;
}

#home-slide .owl-nav button{
  opacity: 0.3;
}
#home-slide:hover .owl-prev,#home-slide:hover .owl-next{
    opacity: 1;
}